.form {
    width: 50%;
    margin: auto;
    margin-top: 2.5rem;
    background-color: #a6abae;
    border-radius: 10px;
    border-style: dashed;
    border-color: #a6abae;
    border-width: 20px;
}

.btnsubm{
    width: 100%;
}

.btnsubm:hover{
    background-color: white;
    color: black;
    border-color: white;
}

.alert-wait{
    font-size: small;
}