body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	margin:0;
	padding:0;
	height:100%;
}

html{
  margin:0;
	padding:0;
	height:100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #C5CACE;
	min-height:91%;
	position:relative;
}