.spacing{
    padding-right: 30px;
  }

  .logo{
    width:154.75px;
    height:46.5px;
  }
  


  @media screen and (max-width: 240px) {
    .logo {
      width:77.375px;
      height:23.25px;
    } 
  }


  @media screen and (max-width: 160px) {
    .logo {
      width:38.6875px;
      height:11.625px;
    } 
  }

  .bg{
    background-color: #303841;
  }
